<div class="create-item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      <a name="cancel" href="javascript:void(0)" (click)="back()" class="cancle-btn"
        ><i class="material-icons">add_circle</i></a
      >
    </mat-card-header>
    <mat-card-content>
      <fc-fields
        [fields]="fields"
        [itemForm]="itemForm"
        [parentAssociations]="parentAssociations"
        (onPickerScroll)="pickerScroll($event)"
        (onSelectAssociation)="selectAssociation($event)"
      >
      </fc-fields>
    </mat-card-content>
    <mat-card-actions class="fc-text-right">
      <button
        name="save"
        mat-raised-button
        color="primary"
        (click)="submit()"
        [disabled]="!itemForm.valid || loading || !IsCreatePermission"
      >
        {{ 'GENERAL.ACTIONS.SAVE' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
