.reset-form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 580px) {
  .create-item {
    width: 100% !important;
  }
  .col-sm-6.text-right {
    text-align: initial;
  }
  .reset-card-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 581px) {
  .create-item {
    width: 500px !important;
  }
  .reset-card-container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
