<div class="list-container">
  <div class="mate-container">
    <div class="reset-card-container">
      <div class="top-breadcrumb center-container">
        <h1 class="template-title">{{ 'ACCOUNT.FORGOT-PASSWORD.TITLE' | translate }}</h1>
      </div>
      <mat-card class="center-container">
        <mat-card-content *ngIf="!linkSent">
          <p>{{ 'ACCOUNT.FORGOT-PASSWORD.HEADING' | translate }}</p>
          <form [formGroup]="resetForm" #resetNgForm="ngForm" class="reset-form" (ngSubmit)="forgotPassword()">
            <mat-form-field>
              <input matInput type="text" formControlName="email" placeholder="Email" />
              <mat-error *ngIf="resetForm.hasError('required', 'email')">
                {{ 'GENERAL.ERRORS.REQUIRED' | translate }}.
              </mat-error>
            </mat-form-field>
          </form>

          <br />
          <br />
          <div class="association-div full-width">
            <div class="fc-row">
              <div class="fc-col-sm-6"></div>
              <div class="fc-col-sm-6 fc-text-right">
                <button color="primary" mat-raised-button [routerLink]="['/login']">
                  {{ 'GENERAL.ACTIONS.BACK' | translate }}
                </button>
                <button
                  name="save"
                  mat-raised-button
                  color="primary"
                  [disabled]="!resetForm.valid || disabled"
                  (click)="resetNgForm.ngSubmit.emit()"
                >
                  {{ 'ACCOUNT.FORGOT-PASSWORD.SEND-EMAIL-BTN' | translate }}
                </button>
              </div>
            </div>
          </div>
          <br />
          <br />
        </mat-card-content>
        <mat-card-content *ngIf="linkSent">
          <p>{{ 'ACCOUNT.FORGOT-PASSWORD.EMAIL-SENT-MESSAGE' | translate }}</p>
          <button color="primary" mat-raised-button [routerLink]="['/login']">
            {{ 'ACCOUNT.FORGOT-PASSWORD.GO-TO-LOGIN' | translate }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
