.item-form {
  display: flex;
  flex-direction: column;
}

.association-div {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.list-container {
  width: 100%;
  .card {
    height: auto;
    max-width: 900px;
    width: 100%;
  }
}
.container1 {
  height: 100px;
}

.sqlEditor {
  height: 100px !important;
  overflow: hidden;
}

.mat-dialog-container {
  max-width: 70%;
  overflow-x: scroll;
}
