$fc-margin: 8px;
$fc-margin-half: 4px;
$fc-margin2: 16px;
$fc-margin3: 24px;

//row
$fc-row-height3: 24px;
$fc-row-height31: 28px;
$fc-row-height4: 32px;
$fc-row-height41: 36px;
$fc-row-height5: 40px;
$fc-row-height6: 48px;
$fc-row-height7: 56px;
$fc-row-height8: 64px;
$fc-row-height9: 72px;
$fc-row-height10: 80px;

.list-container {
  margin: $fc-margin3;
}
