@import 'theme-main.scss';
@import url('../assets/font.css');
@import './dynamic-styles.scss';

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

html,
body {
  height: 100%;
}
[hidden] {
  display: none !important;
}
.fc-modal-dialog {
  mat-dialog-container {
    padding: 0;
  }
}
body .action-tool-bar {
  height: 40px;
  justify-content: space-between;
  /* background-color: rgba(54, 134, 146, 0.6) !important; */
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(162, 162, 162);
}

.list-container {
  height: 100%;
  padding: 24px;
  padding-bottom: 12px;
  margin: 0 !important;
  overflow: auto;
  overflow-x: hidden;
}
.association-div {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.association-div button {
  margin-right: 12px !important;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.table-container {
  overflow: auto;
}

.list-container .table-container .mat-table {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0), 0px 8px 10px 1px rgba(0, 0, 0, 0), 0px 3px 14px 2px rgba(0, 0, 0, 0.04);
}
.delete-dialog-box {
  min-width: 400px;
}

.mat-expansion-panel-body .mat-expansion-panel-body {
  padding: 0 0 16px 3px !important;
}
.mat-expansion-panel-body {
  padding: 0 0 16px 24px !important;
}
.mat-expansion-panel-content {
  position: relative;
}
.mat-expansion-panel-content:after {
  content: '';
  position: absolute;
  height: calc(100% + 14px);
  width: 1px;
  // background: #d0cfcf;
  // background: mat-color($background,background);
  top: -14px;
  left: 25px;
  opacity: 0.5;
}

.mat-expansion-panel-content .mat-expansion-panel-content:after {
  display: none;
}

.spinner-container {
  margin: auto;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //  background: rgba(255, 255, 255, 0.78);
  //  background: mat-color($background,background);
}

.list-container .list-container {
  overflow: initial !important;
}
.fc-text-right {
  text-align: right;
}
.fc-text-center {
  text-align: center;
}
.full-page {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

* {
  box-sizing: border-box;
}
/* custom grid css Ends */

.mat-dialog-container mat-card-content.mat-card-content {
  overflow: auto;
  max-height: calc(100vh - 145px);
  overflow-x: hidden;
}

.period-control__button,
.ngx-timepicker-control__input {
  font-size: 15px !important;
}
.ngx-timepicker-control::after,
.period-control__button::after {
  display: none !important;
}

.time-container {
  margin-top: 2px;
  padding-bottom: 1.25em;
  height: 56px;
  .lable-inline {
    font-size: 12px !important;
    left: 0 !important;
  }
  .ngx-timepicker-control {
    height: 14px !important;
  }
  .ngx-timepicker-control__arrow {
    font-size: 9px !important;
  }
  .ngx-timepicker {
    align-items: baseline !important;
  }
}

section.small-spinner-container mat-spinner {
  height: 44px !important;
  width: 44px !important;
  margin: 27px auto 0;
}

section.small-spinner-container svg {
  width: 44px !important;
  height: 44px !important;
}
.fc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.fc-col,
.fc-col-1,
.fc-col-10,
.fc-col-11,
.fc-col-12,
.fc-col-2,
.fc-col-3,
.fc-col-4,
.fc-col-5,
.fc-col-6,
.fc-col-7,
.fc-col-8,
.fc-col-9,
.fc-col-auto,
.fc-col-lg,
.fc-col-lg-1,
.fc-col-lg-10,
.fc-col-lg-11,
.fc-col-lg-12,
.fc-col-lg-2,
.fc-col-lg-3,
.fc-col-lg-4,
.fc-col-lg-5,
.fc-col-lg-6,
.fc-col-lg-7,
.fc-col-lg-8,
.fc-col-lg-9,
.fc-col-lg-auto,
.fc-col-md,
.fc-col-md-1,
.fc-col-md-10,
.fc-col-md-11,
.fc-col-md-12,
.fc-col-md-2,
.fc-col-md-3,
.fc-col-md-4,
.fc-col-md-5,
.fc-col-md-6,
.fc-col-md-7,
.fc-col-md-8,
.fc-col-md-9,
.fc-col-md-auto,
.fc-col-sm,
.fc-col-sm-1,
.fc-col-sm-10,
.fc-col-sm-11,
.fc-col-sm-12,
.fc-col-sm-2,
.fc-col-sm-3,
.fc-col-sm-4,
.fc-col-sm-5,
.fc-col-sm-6,
.fc-col-sm-7,
.fc-col-sm-8,
.fc-col-sm-9,
.fc-col-sm-auto,
.fc-col-xl,
.fc-col-xl-1,
.fc-col-xl-10,
.fc-col-xl-11,
.fc-col-xl-12,
.fc-col-xl-2,
.fc-col-xl-3,
.fc-col-xl-4,
.fc-col-xl-5,
.fc-col-xl-6,
.fc-col-xl-7,
.fc-col-xl-8,
.fc-col-xl-9,
.fc-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.fc-col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.fc-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.fc-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.fc-col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.fc-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.fc-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.fc-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.fc-col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.fc-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.fc-col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.fc-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.fc-col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.fc-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .fc-col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .fc-col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .fc-col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .fc-col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .fc-col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fc-col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fc-col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .fc-col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fc-col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .fc-col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .fc-col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fc-col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .fc-col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .fc-col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .fc-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .fc-col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .fc-col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .fc-col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .fc-col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fc-col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fc-col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .fc-col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fc-col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .fc-col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .fc-col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fc-col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .fc-col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .fc-col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .fc-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .fc-col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .fc-col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .fc-col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .fc-col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fc-col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fc-col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .fc-col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fc-col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .fc-col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .fc-col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fc-col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .fc-col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .fc-col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .fc-col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .fc-col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .fc-col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .fc-col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .fc-col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fc-col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fc-col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .fc-col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fc-col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .fc-col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .fc-col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fc-col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .fc-col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .fc-col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .fc-col-sm-12 {
    -ms-flex: none;
    flex: none;
    display: block;
    width: 100%;
  }
}

//  Grid css fc End

@media (max-width: 1440px) {
  .sort-value .toggle-2 {
    margin-bottom: 9px;
  }
}

@media (max-width: 1024px) {
  .mat-sidenav-content .container {
    min-width: 100%;
  }
}
@media (max-width: 991px) {
  .cdk-overlay-pane.fc-modal-dialog {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .list-container .list-container {
    padding: 0 !important;
  }

  .list-container > div > .fc-col-sm-12 {
    padding: 0 !important;
  }
  .list-container {
    // height: calc(100% - 40px) !important;
    padding: 15px 15px 50px !important;
  }
  .delete-dialog-box {
    min-width: 300px;
  }
  .association-div .text-right {
    text-align: left;
  }
  .mat-drawer-transition .mat-drawer-content {
    height: calc(100% - 50px);
  }
  .top-breadcrumb .template-title {
    font-size: 25px;
  }
  .top-breadcrumb .breadcrumb {
    margin-bottom: 12px;
  }
  .grid-row-list {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .cdk-overlay-pane.fc-modal-dialog {
    min-width: 90%;
  }
  .top-breadcrumb .breadcrumb li a {
    font-size: 14px;
    padding-right: 10px;
    margin-right: 3px;
  }
  .fc-text-right {
    text-align: left;
  }
}

@media screen and (min-height: 676px) and (max-width: 1200px) {
  // .mat-dialog-container mat-card-content.mat-card-content {
  // 	max-height: 600px;
  // 	overflow: auto;
  // 	overflow-x: hidden;
  // }
}

@media (max-height: 600px) {
  // .mat-dialog-container mat-card-content.mat-card-content {
  // 	max-height: 400px;
  // 	overflow: auto;
  // 	overflow-x: hidden;
  // }
}

@media (max-width: 474px) {
  .time-container .lable-inline {
    opacity: 0.7;
    margin: 0px 0 -12px;
    font-size: 18px;
    font-weight: 500;
    position: initial;
    left: 15px;
    top: 4px;
    padding: 0;
    background: transparent;
    width: auto;
  }
  .time-container {
    padding-left: 0;
  }
}

label {
  font-weight: 400;
}

.picker-modal-dialog {
  width: 100% !important;
  max-width: 500px !important;
  min-height: 300px;
  height: auto !important;
  mat-dialog-container {
    padding: 0;
  }
}

.mat-table {
  overflow: auto;

  mat-row,
  mat-header-row,
  mat-footer-row {
    padding-left: 24px;
    padding-right: 24px;
  }

  mat-header-cell {
    margin-left: 2px;
    margin-left: 2px;
    word-break: break-word;
  }

  mat-cell {
    padding: 2px;
    word-break: break-all;
  }

  mat-cell:first-child,
  mat-footer-cell:first-child,
  mat-header-cell:first-child {
    padding-left: 0;
  }

  mat-cell:last-child,
  mat-footer-cell:last-child,
  mat-header-cell:last-child {
    padding-right: 0;
  }

  mat-footer-row:after,
  mat-header-row:after,
  mat-row:after {
    display: none !important;
  }
}
.mobile-label {
  display: none;
}

@media (max-width: 580px) {
  .create-item {
    width: 100% !important;
  }
  .col-sm-6.text-right {
    text-align: initial;
  }
}

@media (min-width: 581px) {
  .create-item {
    width: 500px !important;
  }
}

.item-form {
  display: flex;
  flex-direction: column;
}

mat-form-field label {
  display: flex !important;
}
//}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
