<div class="list-container">
  <div class="mate-container">
    <div class="reset-card-container">
      <div class="top-breadcrumb center-container">
        <h1 class="template-title">{{ 'ACCOUNT.UPDATE-PASSWORD.TITLE' | translate }}</h1>
      </div>
      <mat-card class="center-container">
        <mat-card-content *ngIf="!passwordUpdated">
          <form [formGroup]="updatePasswordForm" #resetNgForm="ngForm" class="reset-form" (ngSubmit)="updatePassword()">
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="{{ 'ACCOUNT.UPDATE-PASSWORD.FIELDS.OLD-PASSWORD' | translate }}"
                formControlName="oldPassword"
              />
              <mat-error *ngIf="updatePasswordForm.hasError('required', 'oldPassword')">
                {{ 'GENERAL.ERRORS.REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="{{ 'ACCOUNT.UPDATE-PASSWORD.FIELDS.NEW-PASSWORD' | translate }}"
                formControlName="newPassword"
              />
              <mat-error *ngIf="updatePasswordForm.hasError('required', 'newPassword')">
                {{ 'GENERAL.ERRORS.REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="password"
                placeholder="{{ 'ACCOUNT.UPDATE-PASSWORD.FIELDS.CONFIRM-PASSWORD' | translate }}"
                formControlName="confirmPassword"
                pattern="{{ updatePasswordForm.get('newPassword').value }}"
              />
              <mat-error
                *ngIf="
                  !updatePasswordForm.get('confirmPassword').valid && updatePasswordForm.get('confirmPassword').touched
                "
              >
                {{ 'GENERAL.ERRORS.PASSWORD-MISMATCH' | translate }}
              </mat-error>
            </mat-form-field>
          </form>

          <br />
          <br />
          <div class="association-div full-width">
            <div class="fc-row">
              <div class="fc-col-sm-6"></div>
              <div class="fc-col-sm-6 fc-text-right">
                <button
                  name="save"
                  mat-raised-button
                  color="primary"
                  [disabled]="!updatePasswordForm.valid || disabled"
                  (click)="resetNgForm.ngSubmit.emit()"
                >
                  {{ 'GENERAL.ACTIONS.SAVE' | translate }}
                </button>
              </div>
            </div>
          </div>
          <br />
          <br />
        </mat-card-content>
        <mat-card-content *ngIf="passwordUpdated">
          <p>{{ 'ACCOUNT.UPDATE-PASSWORD.UPDATED-MESSAGE' | translate }}</p>
          <button mat-raised-button color="primary" [routerLink]="['/login']">
            {{ 'LOGIN.LOGIN' | translate }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
