.item-form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 580px) {
  .create-item {
    width: 100% !important;
  }
  .col-sm-6.text-right {
    text-align: initial;
  }
}

@media (min-width: 581px) {
  .create-item {
    width: 500px !important;
  }
}

.list {
  line-height: 40px;
  .button_group {
    display: none;
  }
  &:hover {
    .button_group {
      display: inline;
    }
  }
}

.imageArray {
  .button_group {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .img {
    position: relative;
  }
  .img:hover {
    .button_group {
      display: inline;
    }
  }
}

.container1 {
  height: 200px;
}

.sqlEditor {
  height: 100px !important;
  overflow: hidden;
}
