<div class="list-container">
  <div class="welcome-dasboard">
    <div class="center-cotainer">
      <div class="content-wrap">
        <div class="header-top">
          <h4>FLEXIBLE <span class="dote"></span> RELIABLE <span class="dote"></span> <i>FAST</i></h4>
          <h3 class="welcometext">
            <span>Welcome to </span>
            <img src="../../assets/images/logo.png" alt="" />
          </h3>
          <p>
            To get more information on how to modify this generated application, please
            <a href="https://getfastcode.com" target="_blank">visit this site</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
