@import 'src/styles/base.scss';

.template-form {
  display: flex;
  flex-direction: column;
}

.attribute-form {
  display: flex;
  flex-direction: column;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  overflow: visible;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  position: relative;
}

.myclass {
  height: 40px !important;
  width: 85px !important;
  box-shadow: none !important;
}
